# Week 4 - Working with data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [6]:
# Import the required packages
using Distributions, DataFrames, Random

┌ Info: Precompiling Distributions [31c24e10-a181-5473-b8eb-7969acd0382f]
└ @ Base loading.jl:1260

In [5]:

import Pkg
Pkg.add("Random")

  Resolving package versions...
   Updating `C:\Users\Bruger\.julia\environments\v1.4\Project.toml`
 [no changes]
   Updating `C:\Users\Bruger\.julia\environments\v1.4\Manifest.toml`
 [no changes]

In [35]:
# Seed the random number generator
Random.seed!(1234);

In [24]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = 1:30
array_2 = rand(Distributions.Normal(0,1),30)
array_3 = rand(Distributions.Normal(10,2),30)
array_4 = rand(Distributions.Uniform(5, 15),30);


df1 = DataFrame(ID = array_1, var1 = array_2, var2=array_3, var3=array_4);

In [17]:
# Question 5: Mean and variance of column 1
nam
for i in 1:4
    println("This is the mean and variance of column $i")
    println("The mean is: $(mean(df1[:,i])) and the variance is $(var(df1[:,i]))")

end

This is the mean and variance of column 1
The mean is: 15.5 and the variance is 77.5
This is the mean and variance of column 2
The mean is: 0.14611817273162728 and the variance is 0.7547979367471401
This is the mean and variance of column 3
The mean is: 9.909701126153372 and the variance is 2.4566405444014916
This is the mean and variance of column 4
The mean is: 9.950486607032298 and the variance is 8.886390271324062

The reader should note that they are all around the exceptet mean at 15, 0, 10 and 10. (From the distribituions)

In [25]:
# Question 5: New dataframe df2
df2 = df1[11:end,:]

20×4 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3    │
│     │ Int64 │ Float64    │ Float64 │ Float64 │
├─────┼───────┼────────────┼─────────┼─────────┤
│ 1   │ 11    │ 0.0577561  │ 12.9519 │ 8.49517 │
│ 2   │ 12    │ -0.815365  │ 12.2383 │ 6.93238 │
│ 3   │ 13    │ 0.298573   │ 11.0342 │ 8.18641 │
│ 4   │ 14    │ -0.438694  │ 5.95687 │ 13.1139 │
│ 5   │ 15    │ 0.879151   │ 7.54833 │ 6.84151 │
│ 6   │ 16    │ -1.41416   │ 14.1337 │ 5.71137 │
│ 7   │ 17    │ 1.49614    │ 8.27284 │ 12.7237 │
│ 8   │ 18    │ 0.34668    │ 11.6963 │ 10.7743 │
│ 9   │ 19    │ 0.822259   │ 9.10928 │ 12.5919 │
│ 10  │ 20    │ -0.248673  │ 10.8159 │ 7.56758 │
│ 11  │ 21    │ 0.407788   │ 10.484  │ 13.8116 │
│ 12  │ 22    │ 0.213867   │ 11.6819 │ 6.22741 │
│ 13  │ 23    │ -0.0199768 │ 8.6839  │ 10.7514 │
│ 14  │ 24    │ -1.01318   │ 11.1766 │ 10.3851 │
│ 15  │ 25    │ 0.879781   │ 7.75135 │ 8.41794 │
│ 16  │ 26    │ -0.627622  │ 10.5345 │ 9.77967 │
│ 17  │ 27    │ 0.561011   │ 13.5148 │ 11.1739 │
│ 18  │ 28    │ 1.41197    │ 9.10225 │ 10.8495 │
│ 19  │ 29    │ 0.0822156  │ 11.9605 │ 12.278  │
│ 20  │ 30    │ 1.42376    │ 12.889  │ 13.9947 │

In [26]:
# Question 6: Import array_1 into a DataFrame named df
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min      │ median  │ max     │ nunique │
│     │ Symbol   │ Float64  │ Real     │ Float64 │ Real    │ Nothing │
├─────┼──────────┼──────────┼──────────┼─────────┼─────────┼─────────┤
│ 1   │ ID       │ 20.5     │ 11       │ 20.5    │ 30      │         │
│ 2   │ var1     │ 0.215164 │ -1.41416 │ 0.25622 │ 1.49614 │         │
│ 3   │ var2     │ 10.5768  │ 5.95687  │ 10.925  │ 14.1337 │         │
│ 4   │ var3     │ 10.0304  │ 5.71137  │ 10.5683 │ 13.9947 │         │

In [29]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
cat1 = rand(["GroupA","GroupB"],20);

df2.cat1=cat1

20×5 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3    │ cat1   │
│     │ Int64 │ Float64    │ Float64 │ Float64 │ String │
├─────┼───────┼────────────┼─────────┼─────────┼────────┤
│ 1   │ 11    │ 0.0577561  │ 12.9519 │ 8.49517 │ GroupA │
│ 2   │ 12    │ -0.815365  │ 12.2383 │ 6.93238 │ GroupB │
│ 3   │ 13    │ 0.298573   │ 11.0342 │ 8.18641 │ GroupB │
│ 4   │ 14    │ -0.438694  │ 5.95687 │ 13.1139 │ GroupA │
│ 5   │ 15    │ 0.879151   │ 7.54833 │ 6.84151 │ GroupB │
│ 6   │ 16    │ -1.41416   │ 14.1337 │ 5.71137 │ GroupB │
│ 7   │ 17    │ 1.49614    │ 8.27284 │ 12.7237 │ GroupB │
│ 8   │ 18    │ 0.34668    │ 11.6963 │ 10.7743 │ GroupA │
│ 9   │ 19    │ 0.822259   │ 9.10928 │ 12.5919 │ GroupA │
│ 10  │ 20    │ -0.248673  │ 10.8159 │ 7.56758 │ GroupB │
│ 11  │ 21    │ 0.407788   │ 10.484  │ 13.8116 │ GroupA │
│ 12  │ 22    │ 0.213867   │ 11.6819 │ 6.22741 │ GroupB │
│ 13  │ 23    │ -0.0199768 │ 8.6839  │ 10.7514 │ GroupB │
│ 14  │ 24    │ -1.01318   │ 11.1766 │ 10.3851 │ GroupA │
│ 15  │ 25    │ 0.879781   │ 7.75135 │ 8.41794 │ GroupB │
│ 16  │ 26    │ -0.627622  │ 10.5345 │ 9.77967 │ GroupB │
│ 17  │ 27    │ 0.561011   │ 13.5148 │ 11.1739 │ GroupB │
│ 18  │ 28    │ 1.41197    │ 9.10225 │ 10.8495 │ GroupB │
│ 19  │ 29    │ 0.0822156  │ 11.9605 │ 12.278  │ GroupA │
│ 20  │ 30    │ 1.42376    │ 12.889  │ 13.9947 │ GroupA │

In [31]:
# Question 8: Create df3, with id, var4 and var5
df3= DataFrame(ID = 11:30, var4=21:40, var5=41:60)

20×3 DataFrame
│ Row │ ID    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [32]:
# Question 10: Join two df
df4 = innerjoin(df2, df3, on = :ID)

20×7 DataFrame
│ Row │ ID    │ var1       │ var2    │ var3    │ cat1   │ var4  │ var5  │
│     │ Int64 │ Float64    │ Float64 │ Float64 │ String │ Int64 │ Int64 │
├─────┼───────┼────────────┼─────────┼─────────┼────────┼───────┼───────┤
│ 1   │ 11    │ 0.0577561  │ 12.9519 │ 8.49517 │ GroupA │ 21    │ 41    │
│ 2   │ 12    │ -0.815365  │ 12.2383 │ 6.93238 │ GroupB │ 22    │ 42    │
│ 3   │ 13    │ 0.298573   │ 11.0342 │ 8.18641 │ GroupB │ 23    │ 43    │
│ 4   │ 14    │ -0.438694  │ 5.95687 │ 13.1139 │ GroupA │ 24    │ 44    │
│ 5   │ 15    │ 0.879151   │ 7.54833 │ 6.84151 │ GroupB │ 25    │ 45    │
│ 6   │ 16    │ -1.41416   │ 14.1337 │ 5.71137 │ GroupB │ 26    │ 46    │
│ 7   │ 17    │ 1.49614    │ 8.27284 │ 12.7237 │ GroupB │ 27    │ 47    │
│ 8   │ 18    │ 0.34668    │ 11.6963 │ 10.7743 │ GroupA │ 28    │ 48    │
│ 9   │ 19    │ 0.822259   │ 9.10928 │ 12.5919 │ GroupA │ 29    │ 49    │
│ 10  │ 20    │ -0.248673  │ 10.8159 │ 7.56758 │ GroupB │ 30    │ 50    │
│ 11  │ 21    │ 0.407788   │ 10.484  │ 13.8116 │ GroupA │ 31    │ 51    │
│ 12  │ 22    │ 0.213867   │ 11.6819 │ 6.22741 │ GroupB │ 32    │ 52    │
│ 13  │ 23    │ -0.0199768 │ 8.6839  │ 10.7514 │ GroupB │ 33    │ 53    │
│ 14  │ 24    │ -1.01318   │ 11.1766 │ 10.3851 │ GroupA │ 34    │ 54    │
│ 15  │ 25    │ 0.879781   │ 7.75135 │ 8.41794 │ GroupB │ 35    │ 55    │
│ 16  │ 26    │ -0.627622  │ 10.5345 │ 9.77967 │ GroupB │ 36    │ 56    │
│ 17  │ 27    │ 0.561011   │ 13.5148 │ 11.1739 │ GroupB │ 37    │ 57    │
│ 18  │ 28    │ 1.41197    │ 9.10225 │ 10.8495 │ GroupB │ 38    │ 58    │
│ 19  │ 29    │ 0.0822156  │ 11.9605 │ 12.278  │ GroupA │ 39    │ 59    │
│ 20  │ 30    │ 1.42376    │ 12.889  │ 13.9947 │ GroupA │ 40    │ 60    │